{
  "presets": [
    ["@babel/preset-env",
    {
        "targets": {
          "node": "15"
        }
      }]
  ],
  "plugins": [[
    "@babel/plugin-transform-runtime",
    {
      "regenerator": true
    }
  ]]
}
